<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>天目-车辆管理</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <script type="text/javascript" src="../../static/js/jquery-2.1.1.min.js" ></script>
    <script type="text/javascript" src="../../static/js/iscroll.js" ></script>
    <script type="text/javascript" src="../../static/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="../../static/js/common.js" ></script>
    <script type="text/javascript" src="../../static/js/admin/carManage.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="main-sidebar backColor">
        <div class="userBox">
            <div class="user">
                <img src="../../static/images/huge.jpg" alt="用户"/>
            </div>
            <p class="userName">我就是我</p>
        </div>
        <div class="infoList clearfix">
            <div class="info">
                <p>绑定</p>
                <p class="number">5</p>
            </div>
            <div class="info">
                <p>设防</p>
                <p class="number">5</p>
            </div>
            <div class="info">
                <p>失防</p>
                <p class="number">5</p>
            </div>
        </div>
        <div class="itemList">
            <ul>
                <li class="item"><a href="carPosition.html"><span class="points"></span>车辆方位</a></li>
                <li class="item"><a href="locus.html"><span class="history"></span>历史轨迹</a></li>
                <li class="item"><a href="fortifyManage.html"><span class="fortify"></span>设防</a></li>
                <li class="item active"><a href="carManage.html"><span class="manage"></span>车辆管理</a></li>
                <li class="item"><a href="userManage.html"><span class="datum"></span>账户管理</a></li>
                <li class="item"><a href="movementManage.html"><span class="news"></span>推送管理</a></li>
            </ul>
            <div class="withdraw">退出账号</div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="manage clearfix">
            <div class="manageBox manageL">
                <div class="searchOpen" id="searchOpen"></div>
            </div>
            <div class="manageBox manageR">
                <div class="searchBox">
                    <div class="search">
                        <input type="text" placeholder="请输入检车辆编号">
                        <span class="searchImg"></span>
                    </div>
                </div>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td width="20%">
                            <h3 class="carName">法拉利1号</h3>
                            <p>423423424234</p>
                        </td>
                        <td width="30%">
                            <p>状态：已失效 已断电</p>
                            <p>位置：北京市场昌平区北七家镇温都水城</p>
                        </td>
                        <td width="20%">
                            <p>速度：15km/h</p>
                            <p>当日里程：200km</p>
                            <p>总里程：260km</p>
                        </td>
                        <td width="30%">
                            <div class="open">
                                <span class="battery"></span>
                                <span class="restar"></span>
                                <span class="delete"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">
                            <h3 class="carName">法拉利2号</h3>
                            <p>423423424234</p>
                        </td>
                        <td width="30%">
                            <p>状态：已失效 已断电</p>
                            <p>位置：北京市场昌平区北七家镇温都水城</p>
                        </td>
                        <td width="20%">
                            <p>速度：15km/h</p>
                            <p>当日里程：200km</p>
                            <p>总里程：260km</p>
                        </td>
                        <td width="30%">
                            <div class="open">
                                <span class="battery"></span>
                                <span class="restar"></span>
                                <span class="delete"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">
                            <h3 class="carName">法拉利3号</h3>
                            <p>423423424234</p>
                        </td>
                        <td width="30%">
                            <p>状态：已失效 已断电</p>
                            <p>位置：北京市场昌平区北七家镇温都水城</p>
                        </td>
                        <td width="20%">
                            <p>速度：15km/h</p>
                            <p>当日里程：200km</p>
                            <p>总里程：260km</p>
                        </td>
                        <td width="30%">
                            <div class="open">
                                <span class="battery-no"></span>
                                <span class="restar"></span>
                                <span class="delete"></span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="page">
                    <div class="pageList">
                        <nav>
                            <ul class="pagination">
                                <li><a href="#">首页</a></li>
                                <li><a href="#">上一页</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">下一页</a></li>
                                <li><a href="#">尾页</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
