<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qqd.dao.UserDao">

	
	
	<resultMap type="com.qqd.model.User" id="userMap" autoMapping="true">
	
		<result column="username" property="username"/>
		<association property="cars" column="username" select="com.qqd.dao.CarDao.findCarsByUserName"></association>
	</resultMap>
	
	<select id="findUserByUserName" resultMap="userMap">
		SELECT t.* 
		FROM `user` t
		WHERE t.username = #{username}
	</select>
	
	
	<update id="updateUserInfo" parameterType="com.qqd.model.User">

		UPDATE `user`

		SET nickname=#{nickname} , telephone = #{telephone}

		WHERE userid = #{userid}

	</update>



</mapper>