body{
    font-family: "微软雅黑";
    width: 100%;
	font-size:17px;
}
#userimge {
    width: 52px;
    height: 52px;
    border-radius: 52px;
    -moz-border-radius: 52px;
    -webkit-border-radius: 52px;
    vertical-align: middle;
}
.ItemRight 
{
    line-height: 80px;
    vertical-align: middle;
    height: 80px;
}
.ItemRight>span {
    vertical-align: middle;
    height: 100%;
    display: inline-block;
}
.ItemLeft{
	font-size:21px;
}