<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>天目-关于我们</title>
	<thymeleaf th:include="common :: css" th:remove="tag"/>
	<thymeleaf th:include="common :: js" th:remove="tag"/>
</head>
	<body>
		<div class="wrapper">

			<thymeleaf th:include="main_sidebar :: main" th:remove="tag"/>

			<div class="content-wrapper">
				<div class="about">
					<table class="table table-hover about">
						<tbody>
							<tr>
								<td width="20%">
								<h3 class="carName">关于谦达祺</h3>
							</td>
							<td width="80%">
								<div class="content">
									<p>浙江谦达祺科技有限公司是一家专业致力于智能化软硬件研发、设计、生产制造、销售的现代化企业，公司拥有专业优秀的开发设计团队，拥有丰富的软硬件开发经验，目前旗下产品有天目护航、智盾车卫士、租赁宝等，涵括车辆定位防盗、公共自行车管理行业，通过GPS硬件与APP相结合方式管理，技术达到同行领先标准。
										公司主要分为行政部、市场部、技术部三大部门，其中技术部分为硬件开发组、软件系统开发组和移动终端开发组，研发人员均具有三年以上工作经历，积累丰富的开发经验。
									</p>

								</div>
							</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script type="text/javascript">

			$("#aoubt_li").addClass("active");

		</script>
	</body>
</html>
