<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加设备</title>
<link th:href="@{/CSS/EditGuard.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/CSS/PersonalInfo.css}" rel="stylesheet"
	type="text/css" />
<style>
input {
	vertical-align: middle;
}
</style>
</head>

<body>


	<div id="div-left">
		<a class="backBtn" th:href="@{/backstage/carManage}"><img
			width="30px" height="36px" th:src="@{/IMAGES/back.png}" /></a> <a
			class="backBtn" href=""><img width="35px" height="35px"
			th:src="@{/IMAGES/save.png}" /></a>
	</div>
	<div id="div-right">
		<div class="GuardItem">
			<div class="ItemLeft">车辆名称</div>
			<div class="ItemRight">
				<span></span><input type="text" value="法拉利一号" />
			</div>
		</div>
		<div class="GuardItem">
			<div class="ItemLeft">设备码</div>
			<div class="ItemRight">
				<span></span><input type="text" value="8211111111" />
			</div>
		</div>

	</div>

</body>
</html>
