<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>天目-车辆管理</title>
<link th:href="@{/CSS/EditGuard.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/CSS/PersonalInfo.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/CSS/CarManage.css}" rel="stylesheet" type="text/css" />
<script th:src="@{/JS/jquery-1.11.1.min.js}" type="text/javascript"></script>
<script th:src="@{/JS/jquery.switch.js}" type="text/javascript"></script>
<link th:href="@{/CSS/jquery.switch.css}" rel="stylesheet"
	type="text/css" />
</head>
<body>
	<form>
		<div id="div-left">
			<a class="backBtn" th:href="@{/backstage/addcar}"><img
				width="37px" height="37px" th:src="@{/IMAGES/add.png}" /></a>
		</div>
		<div id="div-right"></div>

	</form>
	<script th:src="@{/js/system/carmanage.js}"></script>
</body>
</html>
