<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人资料编辑</title>
    <link rel="stylesheet" th:href="@{/css/EditGuard.css}" />
    <link rel="stylesheet" th:href="@{/css/PersonalInfo.css}" />

    <style>
	input{
		vertical-align:middle;	
	}
	</style>
</head>

<body>

<div id="div-left">
<a class="backBtn" href="/backstage/personalInfo"><img width="30px" height="36px" src="/IMAGES/back.png"/></a>
<a class="backBtn" href="#" th:onclick="'save()'" ><img width="35px" height="35px" src="/IMAGES/save.png"/></a>
</div>
    <div id="div-right">
        <div class="GuardItem">
            <div class="ItemLeft">
                昵称
            </div>
            <div class="ItemRight">
               <span></span><input id="nickname" type="text" th:value="${user.nickname}" />
            </div>
        </div>
        <div class="GuardItem">
            <div class="ItemLeft">
                手机号
            </div>
            <div class="ItemRight">
              <span></span><input id="telephone" type="text" th:value="${user.telephone}" />
            </div>
        </div>
        <div class="GuardItem">
            <div class="ItemLeft">
                上传头像
            </div>
            <div class="ItemRight">
                <span></span><input type="file"  accept="/image/x-png,image/jpeg"/><img id="userimge" src="/IMAGES/huge.jpg"/>
            </div>
        </div>
    </div>
    

</body>


<script>
    function save(){

        var nickname =$.trim($("#nickname").val());
        var telephone =$.trim($("#telephone").val());

        if(nickname==''){
            alert('昵称不能为空');
            return;
        }else if(telephone==''){
            alert('电话号码不能为空');
            return;
        }

        $.ajax({
            type : 'POST',
            url : '/backstage/saveUserInfo',
            data : {
                'nickname' :nickname,
                'telephone' : telephone
            },
            dataType : 'json',
            success : function(data, textStatus) {
                var result = data.result;
                if ("success" != result) { //
                    alert(data.msg);
                } else {
                    window.location.href = "/backstage/personalInfo";
                }
            }
        });
    }


</script>
</html>
