<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>车辆设防-编辑</title>
 <link href="CSS/EditGuard.css" rel="stylesheet" type="text/css" />
    <link href="CSS/jquery.switch.css" rel="stylesheet" type="text/css" />
    <script src="JS/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="JS/jquery.switch.js" type="text/javascript"></script>
</head>

<body>
 <div id="div-left"><a class="backBtn" href="SetGuard.html"><img src="images/back.png" alt="返回" /></a></div>
    <div id="div-right">
        <div class="GuardItem">
            <div class="ItemLeft">
                绑定报警号码
            </div>
            <div class="ItemRight">
                12345678912>
            </div>
        </div>
        <div class="GuardItem">
            <div class="ItemLeft">
                震动报警
            </div>
            <div class="ItemRight checkbox-mid">
               <input type="checkbox" id="zdbj" checked="checked" />
            </div>
        </div>
        <div class="GuardItem">
            <div class="ItemLeft">
                剪线报警
            </div>
            <div class="ItemRight checkbox-mid">
                <input type="checkbox" id="jxbj" checked="checked" />
            </div>
        </div>
        <div class="GuardItem">
            <div class="ItemLeft">
                自动设防
            </div>
            <div class="ItemRight checkbox-mid">
               <input type="checkbox" id="zdsf" checked="checked" />
            </div>
        </div>
    </div>
    
    
    <script>
        $(function () {
            var cleWidth = $(window).width();
            if (cleWidth>540)
                $("#div-right").width($(window).width() - 310 - 230);

            $("#zdbj").SwitchButton();
            $("#jxbj").SwitchButton();
            $("#zdsf").SwitchButton();
        });
       

        $(".FuncMenu li").removeClass("menuActive");
        $("#SetGuard").addClass("menuActive");
    </script>
</body>
</html>
