<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>天目-设防</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/titatoggle-dist-min.css" />
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="../static/js/jquery-2.1.1.min.js" ></script>
		<script type="text/javascript" src="../static/js/iscroll.js" ></script>
		<script type="text/javascript" src="../static/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="../static/js/common.js" ></script>
	</head>
	<body>
		<div class="wrapper">
			<div class="main-sidebar backColor">
				<div class="userBox">
					<div class="user">
					    <img src="../static/images/huge.jpg" alt="用户"/>
				    </div>
					<p class="userName">我就是我</p>
					</div>
					<div class="infoList clearfix">
						<div class="info">
							<p>绑定</p>
							<p class="number">5</p>
						</div>
						<div class="info">
							<p>设防</p>
							<p class="number">5</p>
						</div>
						<div class="info">
							<p>失防</p>
							<p class="number">5</p>
						</div>
					</div>
					<div class="itemList">
						<ul>
							<li class="item"><a href="index.html"><span class="points"></span>车辆方位</a></li>
							<li class="item"><a href="history.html"><span class="history"></span>历史轨迹</a></li>
							<li class="item active"><a href="fortify.html"><span class="fortify"></span>设防</a></li>
							<li class="item"><a href="manage.html"><span class="manage"></span>车辆管理</a></li>
							<li class="item"><a href="person.html"><span class="datum"></span>个人资料</a></li>
							<li class="item"><a href="news.html"><span class="news"></span>消息推送</a></li>
							<li class="item"><a href="about.html"><span class="about"></span>关于我们</a></li>
						</ul>
						<div class="withdraw">退出账号</div>
					</div>
			</div>
			<div class="content-wrapper">
				<div class="fortifyBox">
					<ul class="fortifyList">
						<li class="clearfix">
							<div class="fortifyL">
								<h3 class="">法拉利1号</h3>
								<p>车辆已经失效</p>
							</div>
							<div class="fortifyR">
								<div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
								  <label><input type="checkbox" checked><span></span></label>
								</div>       
							</div>
						</li>
						<li class="clearfix">
							<div class="fortifyL">
								<h3 class="">法拉利3号</h3>
								<p>车辆已经失效</p>
							</div>
							<div class="fortifyR">
								<div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
								  <label><input type="checkbox" checked><span></span></label>
								</div>       
							</div>
						</li>
						<li class="clearfix">
							<div class="fortifyL">
								<h3 class="">法拉利5号</h3>
								<p>车辆已经失效</p>
							</div>
							<div class="fortifyR">
								<div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
								  <label><input type="checkbox"><span></span></label>
								</div>       
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
