<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>推送消息管理</title>
    <thymeleaf th:include="common :: css" th:remove="tag"/>
    <thymeleaf th:include="common :: js" th:remove="tag"/>
</head>
<body>
<div class="wrapper">

    <thymeleaf th:include="main_sidebar :: main" th:remove="tag"/>

    <div class="content-wrapper">
        <div class="manage clearfix">
            <div class="manageBox manageL">
                <a href="/backstage/addpush"><div class="addOpen"></div></a>
            </div>
            <div class="manageBox manageR">
                <table class="table table-hover movement">
                    <tbody id="dataList">

                    </tbody>
                </table>
                <div class="page">
                    <div class="pageList">
                        <nav>
                            <ul class="pagination" id="pagination">
                                <li><a href="#">首页</a></li>
                                <li><a href="#">上一页</a></li>

                                <li><a href="#">下一页</a></li>
                                <li><a href="#">尾页</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#news_li").addClass("active");
</script>
<script th:src="@{/js/system/messagemanager.js}"></script>
</body>
</html>
