<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>

  <link href="CSS/EditGuard.css" rel="stylesheet" type="text/css" />
    <link href="CSS/PersonalInfo.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <div id="div-left"><a class="backBtn" href="EditPersonalInfo.html"><img width="40px" height="40px" src="IMAGES/edit.png"/></a></div>
    <div id="div-right">
        <div class="GuardItem">
            <div class="ItemLeft">
                昵称
            </div>
            <div class="ItemRight">
                法拉利一号>
            </div>
        </div>
        <div class="GuardItem">
            <div class="ItemLeft">
                手机号
            </div>
            <div class="ItemRight">
               18211111111
            </div>
        </div>
        <div class="GuardItem">
            <div class="ItemLeft">
                上传头像
            </div>
            <div class="ItemRight">
                <span></span><img id="userimge" src="IMAGES/huge.jpg"/>
            </div>
        </div>
    </div>
    
</body>
</html>
