<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>

    <link rel="stylesheet" th:href="@{/css/EditGuard.css}"/>
    <link rel="stylesheet" th:href="@{/css/PersonalInfo.css}"/>

</head>

<body>

<div id="div-left">
    <a class="backBtn" href="/backstage/editPersonalInfo">
        <img width="40px" height="40px" src="/images/edit.png"/>
    </a>
</div>
<div id="div-right">
    <div class="GuardItem">
        <div class="ItemLeft">
            昵称
        </div>
        <div class="ItemRight" th:text="${user.nickname}">

        </div>
    </div>
    <div class="GuardItem">
        <div class="ItemLeft">
            手机号
        </div>
        <div class="ItemRight" th:text="${user.telephone}">

        </div>
    </div>
    <div class="GuardItem">
        <div class="ItemLeft">
            上传头像
        </div>
        <div class="ItemRight">
            <span></span><img id="userimge" src="/images/huge.jpg"/>
        </div>
    </div>
</div>

</body>
</html>
