<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>车辆轨迹</title>
<link rel="stylesheet" th:href="@{/css/PositionHistory.css}" />
<thymeleaf th:include="includeBaseSet :: baseSet" th:remove="tag"/>
<script th:src="@{/js/DatePicker/WdatePicker.js}"></script>
</head>

<body>
 
     <div id="container" style="width:100%;height: 1080px; margin: 0px; padding: 0px; border: 0px;"></div>
     
     
     <div id="div-PlayHistory">
         <div id="div-choice">
             <div><span class="itemtitle">选择车辆</span><span><select id="mycar"></select></span></div>
             <div><span class="itemtitle">开始时间</span><span><input id="startTime" type="text" class="Wdate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'});"/></span></div>
             <div><span class="itemtitle">结束时间</span><span><input id="endTime" type="text" class="Wdate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'});"/></span></div>
         </div>
         <div id="div-info">
             <div id="div-info-top">
             	<span class="itemtitle" style="height: 60px;">轨迹概况<br/><br/><br/></span>
             	<span style="width: 455px;" id="guijigaikuang"></span>
             </div>
            <!--  <div id="div-info-bottom">
             	<span class="itemtitle">轨迹位置</span>
             	<span id="location">上海市闵行区天星路</span>
             </div> -->
         </div>
         <div id="div-play">
             <span></span><img id="Startbtn" th:src="@{/images/play.png}"/><img id="Pausebtn" th:src="@{/images/Pause.png}"/>
         </div>
     </div>


<script th:src="@{/js/system/history.js}"></script>	

</body>
</html>
