<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>车辆定位</title>


<thymeleaf th:include="includeBaseSet :: baseSet" th:remove="tag"/>

<link rel="stylesheet" th:href="@{/css/login.css}" />
 
<style>
* {
    margin: 0px;
    padding: 0px;
}

.div-pos{
	background-color:#FFF;
	width:100%;
	height:40px;
	line-height:40px;
	word-break:keep-all;
	padding:5px 10px;
}
.pos{
	font-weight:bold;
	display:inline;
}
</style>
</head>

<body>
 <div id="container" style="width:100%;height: 1080px; margin: 0px; padding: 0px; border: 0px;"></div>
    <div class="button-group">
    <input type="button" class="button" value="开始动画" id="start"/>
    <input type="button" class="button" value="停止动画" id="stop"/>
</div>
   
  <script type="text/javascript">
     var map = new AMap.Map('container', {
            zoom: 15,
            center:[116.391467, 39.927761]
        });

     AMap.plugin(['AMap.ToolBar', 'AMap.Scale', 'AMap.OverView'],
			        function () {
    	 			map.addControl(new AMap.ToolBar());
    	 			map.addControl(new AMap.Scale());
    	 			map.addControl(new AMap.OverView({ isOpen: true }));}
     			); 
     
     map.on("complete", completeEventHandler);
     
     // 地图图块加载完毕后执行函数
     function completeEventHandler() {
    	 getCarLocation(1);
     }
     function getCarLocation(isFirst){
 		 ////   请求后台，获取 车辆的位置
    	 $.ajax({type:'POST',url:'/backstage/getLocation',data:{},
	            dataType:'json',success:function(data, textStatus) {
	            	var result=data.obj;
	            	 /*<![CDATA[*/
	            	 map.clearMap();
	            	 for(var i = 0;i<result.length;i++){
	            		 var car = result[i];
	            		 var marker = new AMap.Marker({
		                     map: map,
		                     position: [car.longitude, car.latitude],
		                     icon: "http://webapi.amap.com/images/car.png",
		                     offset: new AMap.Pixel(-26, -13),
		                     autoRotation: true
		                 });
	            		 	marker.setTitle(car.name);
	            		 	marker.setLabel({//label默认蓝框白底左上角显示，样式className为：amap-marker-label
	            		        offset: new AMap.Pixel(0, 25),//修改label相对于maker的位置
	            		        content: ""+car.name+"<br/>状态:"+car.status //L:失效车辆  Y:设防状态 N:未设防状态
	            		    });
	            		 	
	            	 }
	            	 /*]]>*/
	            	 if(isFirst==1){
	            		 map.setFitView();
	            	 }
	            	 ///  5秒后刷新一次数据
	            	 setTimeout("getCarLocation(0)", 5000 );
	            }
	     });
     }
     
     
     
     
     
     
     /* 	var marker, lineArr = [];	
		var marker = new AMap.Marker({
    		position:[116.391467, 39.937761]
      	});
             // 自定义点标记内容
        var markerContent = document.createElement("div");

        // 点标记中的图标
        var markerImg = document.createElement("img");
        markerImg.className = "markerlnglat";
        markerImg.src = "http://webapi.amap.com/theme/v1.3/markers/n/mark_r.png";
        markerContent.appendChild(markerImg);

        // 点标记中的文本
        var markerSpan = document.createElement("div");
        markerSpan.className = 'div-pos';
        markerSpan.innerHTML = "我在<span >北京故宫</span>附近";
        markerContent.appendChild(markerSpan);

         marker.setContent(markerContent); //更新点标记内容
		 marker.setMap(map);
		 //marker.setContent(content);
 */
	
/* 		 
    AMap.event.addDomListener(document.getElementById('start'), 'click', function() {
        marker.moveAlong(lineArr, 500);
    }, false);
    AMap.event.addDomListener(document.getElementById('stop'), 'click', function() {
        marker.stopMove();
    }, false);  */
		     
 /*    function completeEventHandler() {
		    	 
        marker = new AMap.Marker({
            map: map,
            position: [116.397428, 39.90923],
            icon: "http://webapi.amap.com/images/car.png",
            offset: new AMap.Pixel(-26, -13),
            autoRotation: true
        });
        var lngX = 116.397428, latY = 39.90923;        
        lineArr.push([lngX, latY]);
        /*<![CDATA[*/
       /*  for (var i = 1; i < 3; i++) {
            lngX = lngX + Math.random() * 0.05;
            if (i % 2) {
                latY = latY + Math.random() * 0.0001;
            } else {
                latY = latY + Math.random() * 0.06;
            }
            lineArr.push([lngX, latY]);
        } */
        /*]]>*/
        // 绘制轨迹
     /*    var polyline = new AMap.Polyline({
            map: map,
            path: lineArr,
            strokeColor: "#00A",  //线颜色
            strokeOpacity: 1,     //线透明度
            strokeWeight: 3,      //线宽
            strokeStyle: "solid"  //线样式
        });
        map.setFitView();
    } */ 
		     
		 
		 
    </script>
    
</body>
</html>

