<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>车辆设防</title>
<script th:src="@{/JS/jquery-1.11.1.min.js}" type="text/javascript"></script>
<link th:href="@{/CSS/jquery.switch.css}" rel="stylesheet"
	type="text/css" />
<script th:src="@{/JS/jquery.switch.js}" type="text/javascript"></script>
<link th:href="@{/CSS/SetGuard.css}" rel="stylesheet" type="text/css" />
</head>

<body>
	<form>
		<div id="GuardContiner">
			
		</div>
	</form>
	
	<script th:src="@{/js/system/guard.js}"></script>
</body>
</html>
